header {
  background-color: #263d36;
  background-image: url("photo-1457696791109-fb5db9791f6c.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Economica", "Economica", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;  
  color: #500;
}  

h1 {
  padding: 20px 0px 10px 0px;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
