body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Economica", "Economica", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;  
  color: #555;
  background: #f5f7f9;
}  

h1 {
  padding: 20px 0px 10px 0px;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
